NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
RESEND_FROM_NAME=GC2 Entrenamiento
RESEND_FROM_EMAIL=onboarding@resend.dev
COMPANY_EMAIL=gc2entrenamiento@gmail.com
NEXT_PUBLIC_GA_ID=
